* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-color: #e6e6e6;
    font-family: 'Roboto', sans-serif;

}

html {
    scroll-behavior: smooth;
}

#section1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column: 1/-1;
    height: 100vh;
    background-color: #e6e6e6;
    border-bottom: #293a4b solid 1px;
}

header {
    position: fixed;
    display: inline;
    background-color: white;
    min-width: 100%;
    min-height: 17%;

    z-index: 999;
}


#logo {
    margin-left: 5%;
    width: 6%;
    margin-top: 1%;

}

#name {
    margin-top: -4.7%;
    margin-left: 12%;

}

#backgroundImage {
    grid-column: 1/-1;
    grid-row: 2/7;
    width: 71.3%;
    margin-left: 30%;
}

#slogan {
    width: 90%;
    grid-column: 3/-2;
    grid-row: 6;
    margin-top: 5%;
    height: 40%;
    background-color: white;
    text-align: center;
}

#MobileLogin {
    display: none;
}



/******************** nav *********************/
nav {
    display: inline;
    float: right;
    margin-top: 2%;
    margin-right: 5%;


}

#loginButton {
    width: 4em;
    height: 2.5em;
    border-radius: .5em;
    border-color: #ceac41;
    border-width: .1em;
    background-color: #293a4b;
    font-size: 1.5em;
    margin-left: 1em;
    color: white;
}

#MobileloginButton {
    display: none;
}





#section2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100vh;
    grid-column: 1/-1;
    background-color: #e6e6e6;
}








/******************** fonts *********************/
h1 {
    font-size: 4em;
    font-weight: 900;
    color: #293a4b;
}

h2 {
    font-size: 3.5em;
    font-weight: 700;
    color: #000000;
}

h3 {
    font-size: 3em;
    font-weight: 300;
    color: #000000;
}

h4 {
    font-size: 2.5em;
    font-weight: 400;
    color: #293a4b;
}

h5 {
    font-size: 2em;
    font-weight: 300;
    color: #293a4b;
}

h6 {
    font-size: 1.5em;
    font-weight: 300;
    color: #293a4b;
}

p {
    font-size: 1em;
    font-weight: 400;
    color: #293a4b;
}

a {
    font-size: 2em;
    font-weight: 500;
    color: #293a4b;
    text-decoration: none;
}

/****************** classes ********************/

.white {
    color: white;
}

.display_none {
    display: none;
}

/******************** Log in Modal *********************/
/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 8.2%;
    /* Location of the box */
    right: 0;
    top: 0;
    width: 30%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */

}

/* Modal Content */
.modal-content {
    background-color: #293a4b;
    margin: auto;
    padding: 20px;
    border: 1px solid #ceac41;
    width: 80%;
    text-align: center;


}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



/******************** footer *********************/
footer {
    grid-column: 1/-1;
    grid-row: 7;
    text-align: center;
    border: solid 1px black
}

footer,
p {
    display: inline;
}

/******************** sign up form *********************/
#signupTitle {
    grid-column: 1/2;
    grid-row: 2/2;
    margin-top: 90%;
    margin-left: -50%;

}

#signup {

    grid-column: 1/2;
    margin-top: 30%;
    width: 130%;
    height: 80%;
    margin-left: 20%;
    grid-row: 2/7;
    align-content: center;
    background-color: #293a4b;
    text-align: center;


}

.signUpButton {
    border-radius: 10px;
    width: 6em;
    height: 3em;
    padding: 0.5em;
}

.mui-textfield>input,
.mui-textfield>textarea {
    width: 75%;
    margin-left: 12.5%;
    background-color: white;

}

.mui-select>select {
    width: 75%;
    margin-left: 12.5%;
    background-color: white;
}

.mui-select>label {
    color: white;
}

.fullname {
    margin-top: 5%;
}

#formSignup {
    color: white;
    margin-top: -16%;

}


/******************** About page *********************/

#aboutTitle {

    margin-top: 9%;
    grid-column: 1/-1;
    grid-row: 1;
    text-align: center;
    display: inline;
}


#sponsors {
    grid-column: 1/-1;
    grid-row: 6;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    text-align: center;
}

#sponsorImage {
    width: 10%;
}

#staffTemplate {
    grid-template-columns: repeat(6, 1fr);
    grid-column: 1/-1;
    text-align: center;


}

#staffImage {

    width: 15%;


}

#staffTitles {
    grid-column: 1/-1;
    text-align: center;
    margin-top: -2%;
    grid-row: 5;
    font-size: 1.5em;


}

#staff1 {
    margin-left: -1%;
    margin-right: 5%;

}

#staff2 {
    margin-left: 2%;
    margin-right: 5%;

}


/******************* Profile Page **************************/
#profileInfo {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column: 1/-1;
    height: 70vh;
    background-color: #e6e6e6;
    border-bottom: #293a4b solid 1px;
}

#portfolioBox {
    margin-top: 3%;
    grid-column: 1/-1;
    padding: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#profileImg {
    grid-column: 1;
    grid-row: 1;
    width: 55%;

    border: 1px solid #ffffff;
}

#profileText {
    grid-column: 2;
    color: #ffffff;
    text-align: right;
}

#profileText h5 {
    width: 100%;
    padding: 2%;
    font-weight: 500;
}

/* #profileText h5:nth-child(odd)
{
    width: 100%;
    padding: 2%;
    font-weight: 800;
} */
#profileText2 {
    grid-column: 3;
}

#profileText2 h5 {
    width: 100%;
    padding: 2%;
}



/************** TIMELINE on profile page****************/
#timeline {
    max-height: 12.5em;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
    padding: 1em;
    background-color: #ffffff;
}

.hex_pair

/** hex_pair was made, because the only way for this to work was to have "display:inline-block" **/
    {
    display: inline-block;
    min-height: 15.5em;
    margin: -2px;
}

.hex {
    float: left;
    margin-right: -26px;
    margin-bottom: -50px;
}

.hex .left {
    float: left;
    width: 0;
    border-right: 30px solid #ceac41;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}

.hex .middle {
    float: left;
    width: 60px;
    height: 104px;
    background: #ceac41;
}

.hex .right {
    float: left;
    width: 0;
    border-left: 30px solid #ceac41;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}

.hex-row {
    clear: left;
}

.hex.even {
    margin-top: 53px;
}


/* hexagon template , for each template 1 project info , alternate classes, using odd and even in the js spaced on a css grid, margin top -50% height and - 25% left - limit text content for name of project make classes with 9 gradients */

/******************** Skill section of portfolio page **********************/
#skillsDisplay {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column: 1/-1;
    height: 70vh;
    background-color: #e6e6e6;
    border-bottom: #293a4b solid 1px;
    padding-top: 2%
}

#threeCatSkills {
    grid-column: 2/-2;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 1em;
}

.threeCatSkillsTitle {
    height: auto;
    text-align: center;
}

.threeCatSkills {
    grid-row: 2;
    width: 100%;
    height: 37vh;
    /********* Height here is set for the purpose of only showing 6- 7 skills at one time and the rest visible via scroll ***************/
    border: 1px solid #000;
    overflow: hidden;
    overflow: scroll;
    margin: 2%;
    text-align: center;
    background-color: #ffffff;
}

/****************** SEARCH PAGE ******************/
#searchSkills {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column: 1/-1;
    grid-gap: 5%;
    height: 100vh;
    background-color: #e6e6e6;
    border-bottom: #293a4b solid 1px;
}

#skillTabs {
    grid-column: 1/4;
    margin: 12% 0 5% 5%;
    padding: 5% 5% 5% 8%;
    height: 100vh;
    overflow: hidden;
    overflow: scroll;
}

#tab-navigation {
    margin-top: 5%;
    padding-top: 2rem;
    padding-left: 2rem;
    overflow: hidden;
    height: 4rem;
    width: max-content;

}

#tab-navigation a {
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
    padding: 0.8rem 2rem 1rem 1rem;
    border: 1px solid #293A4B;
    border-radius: 5px 5px 0 0;
    /* background: linear-gradient(#dfc891, #ceac41); */
    background-color: #293a4b;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    /*letter-spacing: 0.15rem; 
   text-shadow: 0 1px 0 #000; */
    font-size: 1rem;
    transition: 0.2s transform linear;
}

#tab-navigation a:nth-child(n+1) {
    margin-left: -1.2rem;
    position: relative;
    z-index: 2;
}

a.active {
    position: relative;
    top: -0.2rem;
    z-index: 2;
    background: linear-gradient(#dfc891, #ceac41);
}

#tab-navigation a:hover,
#tab-navigation a:focus {
    transform: translateY(-.4rem);
    background: linear-gradient(#dfc891, #ceac41);
}

.skillsContainers {
    width: 112%;
    max-height: 70%;
    background-color: #ffffff;
    overflow: hidden;
    overflow: scroll;
    margin: 0 0 0 2.5%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    padding: 2%;
}

@media screen and (max-width: 800px) {
    #tab-navigation {
        height: 3rem;
    }

    #tab-navigation a {
        font-size: 1rem;
        padding: 0.8rem 1.4rem 2rem;
    }
}

@media screen and (max-width: 500px) {
    #tab-navigation {
        height: auto;
    }

    #tab-navigation a {
        display: block;
        margin-top: -1rem;
    }
}

#selectedSkills {
    grid-column: 4/-1;
    margin-top: 17%;
    padding: 5% 5% 5% 8%;
    text-align: center;
}

.selectedList {
    border: 1px solid rgba(41, 58, 75, 0.5);
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.tabs-animate-bottom {
    position: relative;
    animation: animateBottom 0.4s;
}

@keyframes animateBottom {
    from {
        bottom: -300px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

/******************** Registration page students ***********************/
#studentForm {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column: 1/-1;
    height: 100vh;
    background-color: #e6e6e6;
    text-align: center;


}

#studentForm form {
    grid-column: 3/5;
    margin: 35% 0 0 0;
    width: 100%;
    background-color: #293A4B;



}

.mui-textfield>label {
    color: white;
}

.mui-form legend {
    color: white;
    ;
}

/******************** Registration page companies ***********************/
#companyForm {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column: 1/-1;
    background-color:#e6e6e6;
}

#companyForm form {
    grid-column: 3/5;
    grid-row: 1/-1;
    background-color: #293A4B;
    
}

#colorDkGrey {
    color: rgba(0, 0, 0, .54);
}

#colorGrey {
    color: rgba(0, 0, 0, .54);
}


/******************** Skill selecting ***********************/












