* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-color: #e6e6e6;
    font-family: 'Roboto', sans-serif;

}

html {
    scroll-behavior: smooth;
}

#section1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column: 1/-1;
    height: 100vh;
    background-color:#e6e6e6;
    border-bottom: #293a4b solid 1px;
}

header{
    position: fixed;
    display: inline;
    background-color:white;
    min-width: 100%;
    min-height: 17%;
    
    z-index: 999;
}


#logo {
    margin-left: 5%;
    width: 6%;
    margin-top: 1%;
    
}
#name {
    margin-top: -4.7%;
   margin-left: 12%;
    
}

#backgroundImage
{
    grid-column: 1/-1;
    grid-row: 2/7;
    width: 71.3%;  
    margin-left: 30%;
}

/******************** nav *********************/
nav {
    display: inline;
    float: right;
    margin-top: 2%;
    margin-right: 5%;
    

}

#loginButton {
    width: 4em;
    height: 2.5em;
    border-radius: .5em;
    border-color: #ceac41;
    border-width: .1em;
    background-color: #293a4b;
    font-size: 1.5em;
    margin-left: 1em;
    color: white;
}






#section2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100vh;
    grid-column: 1/-1;
    background-color: #e6e6e6;
}








/******************** fonts *********************/
h1 {
    font-size: 4em;
    font-weight: 900;
    color: #293a4b;
}

h2 {
    font-size: 3.5em;
    font-weight: 700;
    color: #000000;
}

h3 {
    font-size: 3em;
    font-weight: 300;
    color: #000000;
}

h4 {
    font-size: 2.5em;
    font-weight: 400;
    color: #293a4b;
}

h5 {
    font-size: 2em;
    font-weight: 300;
    color: #293a4b;
}

h6 {
    font-size: 1.5em;
    font-weight: 300;
    color: #293a4b;
}

p {
    font-size: 1em;
    font-weight: 400;
    color: #293a4b;
}

a {
    font-size: 1.5em;
    font-weight: 500;
    color: #293a4b;
    text-decoration: none;
}

/****************** classes ********************/

.white
{
    color: white;
}



/******************** Log in Modal *********************/
/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 8.2%;
    /* Location of the box */
    right: 0;
    top: 0;
    width: 30%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */

}

/* Modal Content */
.modal-content {
    background-color: #293a4b;
    margin: auto;
    padding: 20px;
    border: 1px solid #ceac41;
    width: 80%;
    text-align: center;
    
    
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



/******************** footer *********************/
footer {
    grid-column: 1/-1;
    text-align: center;
    border: solid 1px black
}

footer,
p {
    display: inline;
}

/******************** sign up form *********************/
#signupTitle
{
    grid-column: 1/2;
    grid-row: 2/2;
    margin-top: 90%;
    margin-left: -50%;
    
}

#signup {
    
    grid-column: 1/2;
    margin-top: 30%;
    width: 130%;
    height: 80%;
    margin-left: 20%;
    grid-row: 2/7;
    align-content: center;
    background-color: #293a4b;
    text-align: center;
    
    
}

.signUpButton {
    border-radius: 10px;
    width: 6em;
    height: 3em;
    padding: 0.5em;
}
.mui-textfield>input, .mui-textfield>textarea
{
    width: 75%;
    margin-left: 12.5%;
    background-color: white;
    
}
.mui-select>select
{
    width: 75%;   
    margin-left: 12.5%;
    background-color: white;
}
.mui-select>label
{
    color: white;
}
.fullname
{
    margin-top: 5%;
}

#formSignup{
    color: white;
    margin-top: -16%;
    
}


/******************** About page *********************/

#aboutTitle {
    margin-top: 9%;
    grid-column: 1/-1;
    text-align: center;
    display: inline;
}



#staff1
{
    grid-column: 1/2;
    width: 10%;
}




#sponsors
{
    grid-column: 1/-1;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    text-align: center; 
}

#sponsorImage{
    width: 20%;
    
}

.staffTemplate
{
    grid-template-columns: repeat(6, 1fr);
    grid-column: 1/-1;
    text-align: center;
}

#staffImage
{
    width: 15%;
    padding-right: 0%;
    
}
#staffTitles
{
grid-column: 1/-1;
text-align: center;

}
/************** TEST ****************/
#timeline
{
    max-height: 12.5em;
    overflow-x:scroll;
    overflow-y:hidden;
    white-space: nowrap;
    position: relative;
    padding: 1em;
}
.hex_pair/** hex_pair was made, because the only way for this to work was to have "display:inline-block" **/
{
    display: inline-block;
    min-height: 15.5em;
    margin: -2px;
}
.hex {
    float: left;
    margin-right: -26px;
    margin-bottom: -50px;
}
.hex .left {
    float: left;
    width: 0;
    border-right: 30px solid #6C6;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}
.hex .middle {
    float: left;
    width: 60px;
    height: 104px;
    background: #6C6;
}
.hex .right {
    float: left;
    width: 0;
    border-left: 30px solid #6C6;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}
.hex-row {
    clear: left;
}
.hex.even {
    margin-top: 53px;
}

/* hexagon template , for each template 1 project info , alternate classes, using odd and even in the js spaced on a css grid, margin top -50% height and - 25% left - limit text content for name of project make classes with 9 gradients */
